<!--<mat-toolbar color="green" class="mat-elevation-z8">-->
<!--  <span>-->
<!--    <span id="spanName">Nft Market</span>-->
<!--    <br> <br>-->

<!--  <a mat-button="blue" routerLink="home">Home </a>-->
<!--&lt;!&ndash;  <a mat-button routerLink="services">Services </a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a mat-button routerLink="projects">Projects </a>&ndash;&gt;-->
<!--&lt;!&ndash;  <a mat-button routerLink="aboutus">About Us </a>&ndash;&gt;-->
<!--  <a mat-raised-button color="accent" routerLink="signup">Sign Up </a>-->
<!--    <a mat-raised-button color="accent" routerLink="login">Log In </a>-->
<!--  </span>-->
<!--</mat-toolbar>-->

<mat-toolbar color="green" class="mat-elevation-z8">
  <span>
    <span id="spanName">Nft Market</span>

    <a mat-button="blue" routerLink="home">Home </a>
    <a mat-button="blue" routerLink="nfts">My Nfts </a>
  <a mat-raised-button color="accent" routerLink="signup">Sign Up </a>
    <a mat-raised-button color="accent" routerLink="login">Log In </a>
  </span>
</mat-toolbar>
