<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form name="form" (ngSubmit)="addNft()" #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Add Your Product
					</span>
        <div class="div-form">
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Nft Name">
            <input id="nftName" class="input100" type="text" name="nftName" [(ngModel)]="model.nftName" placeholder="Nft Name">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Nft Price">
            <input id="bidPrice" class="input100" type="number" name="bidPrice" [(ngModel)]="model.bidPrice" placeholder="Bid Price">
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter Nft Photo">
            <input id="mediaFile" class="input100" type="text" name="mediaFile" [(ngModel)]="model.mediaFile" placeholder="Nft Photo">
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn m-b-16">
            <button class="login100-form-btn">
              Add Product
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
