<div *ngIf="flag; then primaryBlock; else elseBlock"></div>
<ng-template #elseBlock>
  !You need first to select from your product list one item to modify!
</ng-template>
<ng-template #primaryBlock>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form name="form" (ngSubmit)="modifyNft()" #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
            <span class="login100-form-title">
              Modify Your Nft
            </span>
          <div class="div-form">
            <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Nft Name">
              <input id="nftName" class="input100" type="text" name="nftName" [(ngModel)]="model.nftName" placeholder="{{modify.nftName}}">
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Nft Price">
              <input id="bidPrice" class="input100" type="number" name="bidPrice" [(ngModel)]="model.bidPrice" placeholder="{{modify.bidPrice}}">
              <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter Nft Photo">
              <input id="mediaFile" class="input100" type="text" name="mediaFile" [(ngModel)]="model.mediaFile" placeholder="{{modify.mediaFile}}">
              <span class="focus-input100"></span>
            </div>
            <div class="container-login100-form-btn m-b-16">
              <button class="login100-form-btn">
                Modify Nft
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
